@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

html {
	color: #000;
    font-family: 'Source Sans Pro', sans-serif;
}

.highlight {
    color: #FF7F00;
}

body {
	margin: 0;
}

a {
    text-decoration: none;
    color: #FF7F00;
}
a:hover {
  text-decoration: underline;
}

/** CUSTOM BULLETS */

.main ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main ul li {
  padding-left: 1em;
  text-indent: -0.7em;
}

.main ul li:before {
  content: "\002022  ";
  color: #FF7F00;
}

/** HEADER */
.header {
	padding: 0.5em;
}

.header h1 {
	font-weight: 300;
}

/** MENU **/

.menu {
    font-weight: 300;
    background: #FF7F00;
    color: #FFF;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    display: inline-block;
    padding: 1em 0em;
    margin-right: 1em;
    color: #FFF;
}

/** MAIN */

div.page {
    max-width: 52em;
    margin: auto;
    padding: 0 1em;
}

.main p {
	margin: 1em 0;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: 300;
    text-align: justify;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
    margin: 1em 0;    
    font-weight: 400;
}

.main h1 {
    text-align: center;
}

.date {
    font-weight: 200;  
    margin: 1em 0;     
    text-align: center;
}
