@import url("style.css");
@import url("../fonts/museo/stylesheet.css");

.footer {
	text-align: center;
}

.projecttitle {
	text-shadow: rgba(255,255,255,0.8) 1px 1px 0px;
    font-family: 'Museo500', san-serif;
	text-align: center;
}

p.infotitle {
	font-family: 'Museo500', san-serif;
}

.referencetitle {
    text-transform: capitalize;
}