<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<meta name="description" content="Daniel Tull is a freelance developer from Guildford, UK, working on iOS and Mac apps for clients such as Sky, BBC, Tesco and Gok Wan.">
		<meta name="author" content="Daniel Tull">
		<meta name="keywords" content="freelance,contract,ios,mac,developer,apps,london,uk">
		<link rel="stylesheet" href="/style/css/style.css" type="text/css" media="screen" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DanielTull" />
		<link rel="service.feed" type="application/atom+xml" title="Atom" href="http://feeds.feedburner.com/DanielTull" />
	</head>

	<body>
		<div class="welcome page">
			<h1>Hello! I'm <span class="highlight">Daniel Tull</span>, a freelance iOS <span class="highlight amp">&amp;</span> Mac Developer</h1>
			<h2>If you need someone to make lovely Cocoa applications, look no further.</h2>
		</div>
		
		{% include menu.html %}
		
		<div class="page">
            <div class="hero">
                <a class="app" href="http://danieltull.co.uk/issues">
    				<img src="images/Issues.svg" /> 
    				<h1>Issues</h1>
    			</a>
    			<a class="app" href="http://danieltull.co.uk/coordination">
    				<img src="images/Coordination.svg" /> 
    				<h1>Coordination</h1>
    			</a>
            </div>
		</div>
		{% include analytics.html %}
	</body>
</html>