<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/fonts/museo/stylesheet.css" type="text/css" media="screen" />
	</head>

	<body>
		<div id="wrapper" class="wrapper">
			<div id="inner-wrapper" class="inner-wrapper">
				<div class="page sixteen-col">
					<div class="header sixteen-col last-col">
						<ul>{{ site.servicetitle }}
							{% for title in site.servicenames %}
							<li><a href="{{ site.serviceurls[forloop.index0] }}">{{ title }}</a>{% if forloop.last == false %},{% endif %}</li>
							{% endfor %}
						</ul>
					</div>
					
					<div class="sixteen-col last-col">
						<div class="main-content main-text">
							{{ content }}
	                	</div>
	            	</div>
					
					<div class="sidebar four-col">
						<div class="section">
							<h3>Recent Posts</h3>
					    	<ul>
								{% for post in site.posts limit:5 %}
									<li><a href="{{ post.url }}">{{ post.title }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					
					<div class="sidebar four-col">
						<div class="section">
							<h3>{{ site.opensourcetitle }}</h3>
							<ul>
								{% for title in site.opensourcenames %}
									<li><a href="{{ site.opensourceurls[forloop.index0] }}">{{ title }}</a></li>
								{% endfor %}
					    	</ul>
						</div>
					</div>
					
					<div class="sidebar four-col">
						<div class="section">
							{% include apps.html %}
						</div>
					</div>

					<div class="sidebar four-col last-col">
						<div class="section">
							<h3>{{ site.abouttitle }}</h3>
					    	<ul>
								{% for title in site.aboutnames %}
									<li><a href="{{ site.abouturls[forloop.index0] }}">{{ title }}</a></li>
								{% endfor %}
					    	</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>