<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }} : {{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/fonts/museo/stylesheet.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="wrapper" class="wrapper">
			<div id="inner-wrapper" class="page inner-wrapper">
            
				<div class="sidebar four-col">
                	<h3 class="logo"><a href="/">Daniel Tull</a></h3>
                	<div class="sidebar four-col">                                   
						<h3>Recent Posts</h3>
					    <ul>
							{% for post in site.posts limit:5 %}
							<li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						</ul>
					</div>

					<div class="sidebar four-col">
						<h3>{{ site.opensourcetitle }}</h3>
						<ul>
							{% for title in site.opensourcenames %}
							<li><a href="{{ site.opensourceurls[forloop.index0] }}">{{ title }}</a></li>
							{% endfor %}
					    </ul>
					</div>

					<div class="sidebar four-col">
						<h3>{{ site.apptitle }}</h3>
					    <ul>
							{% for title in site.appnames %}
							<li><a href="{{ site.appurls[forloop.index0] }}">{{ title }}</a></li>
							{% endfor %}
					    </ul>
					</div>

					<div class="sidebar four-col last-col">
						<h3>{{ site.abouttitle }}</h3>
					    <ul>
							{% for title in site.aboutnames %}
							<li><a href="{{ site.abouturls[forloop.index0] }}">{{ title }}</a></li>
							{% endfor %}
					    </ul>
					</div>            
				</div>
            
				<div class="header twelve-col last-col">
					<ul>{{ site.servicetitle }}
						{% for title in site.servicenames %}
						<li><a href="{{ site.serviceurls[forloop.index0] }}">{{ title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				
				<div class="twelve-col last-col">
					<div class="post main-text">
						<h1 id="{{ post.id }}">{{ post.title }}</h1>
						<h5>{{ post.date }}</h5>
						{{ content }}
					</div>
				</div>
			</div>
		</div>
  	</body>
</html>