<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="description" content="Daniel Tull is a freelance developer from Guildford, UK, working on iOS and Mac apps for clients such as Sky, BBC, Tesco and Gok Wan.">
		<meta name="author" content="Daniel Tull">
		<meta name="keywords" content="freelance,contract,ios,mac,developer,apps,london,uk">
		<link rel="stylesheet" href="/beta/style/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/beta/style/css/list.css" type="text/css" media="screen" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DanielTull" />
		<link rel="service.feed" type="application/atom+xml" title="Atom" href="http://feeds.feedburner.com/DanielTull" />
	</head>
	<body>
		
		<div class="header page">
            <h1><a href="home.html">Daniel Tull</a>: Blog</h1>
		</div>
		
		{% include menu.html %}

		<div class="main page">
			<h1>{{ page.title }}</h1>
			<h5 class="date">{{ page.date | date: "%A, %d %B %Y" }}</h5>
			{{ content }}
		</div>
		{% include analytics.html %}
  	</body>
</html>
